*.tmp
*.bak
*.old
*.swp
Release/

NetworkToolkit/Logs/*.log
NetworkToolkit/Logs/ToolUsage/*.log
NetworkToolkit/Exports/*
NetworkToolkit/Data/Fingerprints/*
NetworkToolkit/Data/PrintQueues/*
NetworkToolkit/Data/PrintQueueTools/*
NetworkToolkit/Data/MiniDumps/*
NetworkToolkit/Data/Temp/*
NetworkToolkit/Data/TempToolOutputs/*
NetworkToolkit/Data/ComputerProfiles/*
NetworkToolkit/Data/ComputerState/*
NetworkToolkit/ExternalTools/*
NetworkToolkit/_Downloads/*
Custom/*
!Custom/DHCPSleuth/
!Custom/DHCPSleuth/**
Custom/DHCPSleuth/DHCP-Sleuth.settings.json
manifests/custom-tools.json.bak
manifests/gui-settings.json
NetworkToolkit/Plugins/PrintQueues/Logs/*
NetworkToolkit/Plugins/PrintQueues/Print Queue Cleanup/Logs/*
NetworkToolkit/Plugins/PrintQueues/Print Queue Cleanup/PrintSpoolerTool.ini

!NetworkToolkit/Exports/.gitkeep
!NetworkToolkit/Data/Fingerprints/.gitkeep
!NetworkToolkit/Data/ComputerProfiles/.gitkeep
!NetworkToolkit/Data/TempToolOutputs/.gitkeep
!Custom/.gitkeep
